.navbar-brand{
    font-size: 18px !important;
}
.qalesan{
    background-color:  rgba(146, 111, 246, 1) !important; 
}
h6{
    color: rgba(255, 224, 116, 1);
    font-size: 7px;

}
h1{
    font-size: 63px;
}
